[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "~=2.4.2"

[dev-packages]
"ga4gh.vrsatile.pydantic" = {editable = true, path = "."}
pytest = "*"
pytest-cov = "*"
flake8 = "*"
flake8-docstrings = "*"
pre-commit = "*"
coveralls = "*"
coverage = "*"
ipykernel = "*"
